<%- include('header') -%>

<div class="create-book">
    <h1>Create Book</h1>
    <form action="/catalog/book/create" method="post" class="create-form">
        <label for="book-title">Title:</label>
        <input type="text" name="title" id="book-title" value=<%= book==={} ? '' : book.title %>>

        <label for="book-author">Author:</label>
        <select name="author" id="book-author">
            <option value="">select the author</option>
            <% allAuthors.forEach(author => { %>
                <% if (book !== {}) { %>
                    <% if (author._id === book.author) { %>
                        <option value=<%= author._id %> selected>
                            <%= author.name %>
                        </option>
                    <% } else { %>
                        <option value=<%= author._id %>><%= author.name %></option>
                    <% } %>
                <% } else { %>
                    <option value=<%= author._id %>><%= author.name %></option>
                <% } %> 
            <% }) %>
        </select>

        <label for="book-summary">Summary:</label>
        <textarea name="summary" id="book-summary" cols="75" rows="10"><%= book==={} ? '' : book.summary %></textarea>

        <label for="book-isbn">ISBN:</label>
        <input type="text" name="isbn" id="book-isbn" value=<%= book==={} ? '' : book.isbn %>>

        <label for="book-genre">Genre:</label>
        <% allGenres.forEach(genre => { %>
            <% if (genre.checked) { %>
                <input type="checkbox" name="genre" id="book-genre" value=<%= genre._id %> checked>
            <% } else { %>
                <input type="checkbox" name="genre" id="book-genre" value=<%= genre._id %>>
            <% } %>
            <label class="genre-label" style="display: inline;"><%= genre.name %></label>
        <% }) %>

        <input type="submit" value="create book">
    </form>
</div>

<%- include('footer') -%>